@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');


/*? ***************************** Global styles **********************************************  */

:root {
    --main_color: #59AB6E;
    --main_color2: #5cc877;
    --main_font_color: #252629;
    --second_font_color: #5e6268;
    --third_font_color: #d2c9c9;
    --upper_nav: #212934;
    --footer_bg: #1d242d;
    --last_section_bg: #212934;
    --active_start_color: #ede861;
    --header_bg: #efefef
}


* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    outline: none;
}

.container {
    width: 80%;
    margin: auto;
}

.section_title {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.description {
    width: 50%;
    margin: auto;
    text-align: center;
    color: var(--second_font_color)
}

/*? *********************** Start upper .upper_contact******************************/
.upper_contact {
    background-color: var(--upper_nav);
    color: #FFF;
    font-size: .8rem;
}

.upper_contact .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.upper_contact .left,
.upper_contact .right {
    width: 50%;
    margin: 10px 0;
}

.upper_contact .right {
    text-align: right;
}

.upper_contact .left,
.upper_contact .left .email,
.upper_contact .left .phone {
    display: flex;
    padding: 0 4px;
}

.upper_contact .left {
    justify-content: start;
}

.upper_contact i {
    margin: 0 5px;
}

@media (max-width:400px) {

    .upper_contact .left,
    .upper_contact .right {
        width: 100%;
    }

    .upper_contact .left {
        justify-content: space-evenly;
    }

    .upper_contact .right {
        text-align: center;
    }
}

/*? *********************** End upper .upper_contact******************************/
/*? *********************** Start nav ******************************/

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

nav .middle {
    width: 50%;
}

nav .middle ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
}

nav .middle ul li {
    list-style: none;
    text-transform: capitalize;
}

nav .middle ul li a {
    text-decoration: none;
    color: var(--second_font_color)
}

nav .middle ul li a:hover {
    color: var(--main_color);
    font-weight: bold;
}

nav .personal_items {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

nav .personal_items i {
    position: relative;
    cursor: pointer;
}

nav .personal_items i:hover {
    color: var(--main_color);
}

nav .personal_items .counter {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 20px;
    min-width: 20px;
    background: #EEE;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    padding: 3px;
    font-size: .7rem;
    color: var(--second_font_color)
}

@media (min-width:600px) and (max-width:900px) {
    nav .personal_items {
        width: 15%;
    }
}

@media (max-width:599px) {
    nav .container {
        flex-direction: column;
    }

    nav .middle {
        width: 100%;
    }

    nav .personal_items {
        width: 50%;
        margin: 10px;
    }
}

/*? *********************** End nav ******************************/
/*? *********************** Start header ******************************/
header {
    background-color: var(--header_bg);
    min-height: 70vh;
    padding-top: 6%;
}

header .container {
    display: flex;
}

header .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .left h1 {
    font-weight: 300;
}

header .left h2 {
    font-weight: 500;
}

header .left h2 p {
    font-weight: 400;
}

header .right img {
    width: 300px;
    margin: 30px;
}

@media (max-width:700px) {
    header {
        text-align: center;
    }

    header .container {
        flex-direction: column;
    }
}

/*? *********************** End header ******************************/


/*? *********************** Start categories ******************************/
.categories_container {
    display: flex;
}

.categories .category {
    width: calc(100% / 3);
    margin: 25px;
    text-align: center;
}

.categories .category img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.categories .category button {
    background: linear-gradient(var(--main_color), var(--main_color2));
    color: #FFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: none;
    padding: 7px;
    font-weight: 300;
}

@media (max-width:850px) {
    .categories_container {
        flex-direction: column;
        align-items: center
    }
}

/*? *********************** End categories ******************************/

/*? *********************** End featured ******************************/
.featured {
    background-color: var(--header_bg);
    padding: 20px 0;
}

.products_container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.products_container .product {
    width: 31%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.products_container .product:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.products_container .product img {
    width: 100%;
}

.product .rating_and_price {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product .rating_and_price span {
    color: #747474
}

.product .rating_and_price span::before {
    content: "$"
}

.fa-star {
    color: var(--third_font_color)
}

.fa-star.active {
    color: var(--active_start_color)
}

.products_container .product h4 {
    font-size: 1.75rem;
    font-weight: 300;
    margin: 15px;
}

.products_container .product h4,
.products_container .product p,
.products_container .product .reviews {
    margin-left: 10px;
}

.reviews {
    margin: 10px;
    color: #747474;
}

@media (max-width:850px) {
    .products_container {
        flex-direction: column;
        align-items: center
    }

    .products_container .product {
        width: 50%;
    }
}

/*? *********************** End featured ******************************/


@media (max-width:600px) {
    :root {
        font-size: 12px;
    }
}

@media (min-width:601px) and (max-width:1100px) {
    :root {
        font-size: 14px;
    }
}